<?xml version='1.0' encoding='utf-8'?>
<robot name="wuji_moderate_demo">
  <link name="part_00_palm">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.35" />
      <inertia ixx="0.0008" ixy="0" ixz="0" iyy="0.0008" iyz="0" izz="0.0008" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_00_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_00_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_01_thumb">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_01_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_01_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_02_thumb">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_02_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_02_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_03_thumb">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_03_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_03_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_04_thumb">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_04_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_04_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_05_index">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_05_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_05_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_06_index">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_06_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_06_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_07_index">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_07_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_07_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_08_index">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_08_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_08_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_09_middle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_09_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_09_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_10_middle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_10_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_10_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_11_middle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_11_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_11_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_12_middle">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_12_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_12_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_13_ring">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_13_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_13_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_14_ring">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_14_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_14_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_15_ring">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_15_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_15_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_16_ring">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_16_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_16_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_17_pinky">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_17_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_17_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_18_pinky">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_18_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_18_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_19_pinky">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_19_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_19_visual.obj" />
      </geometry>
    </collision>
  </link>
  <link name="part_20_pinky">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.035" />
      <inertia ixx="1.5e-05" ixy="0" ixz="0" iyy="1.5e-05" iyz="0" izz="1.5e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_20_visual.obj" />
      </geometry>
      <material name="demo_blue">
        <color rgba="0.16 0.58 0.82 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/part_20_visual.obj" />
      </geometry>
    </collision>
  </link>
  <joint name="slot_0_r_thumb_cmc_flex" type="revolute">
    <parent link="part_00_palm" />
    <child link="part_01_thumb" />
    <origin xyz="-0.0232191209293 -0.00746586160149 0.044617453975" rpy="0 0 0" />
    <axis xyz="-0.200287973627 0.446886270038 0.871881522497" />
    <limit lower="-1.187" upper="1.291" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_0_r_thumb_cmc_abd" type="revolute">
    <parent link="part_01_thumb" />
    <child link="part_02_thumb" />
    <origin xyz="-0.00600318530701 -0.00252637955849 -0.0131454488311" rpy="0 0 0" />
    <axis xyz="-0.435390101777 0.810000024417 -0.392855469249" />
    <limit lower="-1.484" upper="0.698" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_0_r_thumb_mcp" type="revolute">
    <parent link="part_02_thumb" />
    <child link="part_03_thumb" />
    <origin xyz="-0.0289359305121 0.00105075118969 -0.00991439468778" rpy="0 0 0" />
    <axis xyz="0.211685581081 0.926083038047 0.312345035826" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_0_r_thumb_ip" type="revolute">
    <parent link="part_03_thumb" />
    <child link="part_04_thumb" />
    <origin xyz="-0.0314585151965 0.00413295099936 -0.00922274120513" rpy="0 0 0" />
    <axis xyz="0.211685581081 0.926083038047 0.312345035826" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_1_r_index_finger_mcp_flex" type="revolute">
    <parent link="part_00_palm" />
    <child link="part_05_index" />
    <origin xyz="-0.0298640430063 0.00427229235575 0.0989876489469" rpy="0 0 0" />
    <axis xyz="0.985632614883 0.0993131381113 0.136620822272" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_1_r_index_finger_mcp_abd" type="revolute">
    <parent link="part_05_index" />
    <child link="part_06_index" />
    <origin xyz="-0.0103652327514 0.00133347289195 0.0121083970879" rpy="0 0 0" />
    <axis xyz="-0.0947662457952 0.99471923025 -0.0394082685416" />
    <limit lower="-0.698" upper="0.698" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_1_r_index_finger_pip" type="revolute">
    <parent link="part_06_index" />
    <child link="part_07_index" />
    <origin xyz="-0.0266293231124 0.000550973108466 0.0316405632525" rpy="0 0 0" />
    <axis xyz="0.985632614883 0.0993131381113 0.136620822272" />
    <limit lower="-1.047" upper="2.094" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_1_r_index_finger_dip" type="revolute">
    <parent link="part_07_index" />
    <child link="part_08_index" />
    <origin xyz="-0.0208926870164 0.000432279433504 0.0248243780837" rpy="0 0 0" />
    <axis xyz="0.985632614883 0.0993131381113 0.136620822272" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_2_r_middle_finger_mcp_flex" type="revolute">
    <parent link="part_00_palm" />
    <child link="part_09_middle" />
    <origin xyz="-0.00652924060558 0.00832059537827 0.106713483738" rpy="0 0 0" />
    <axis xyz="0.999938845746 -0.000698963590645 -0.011037038445" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_2_r_middle_finger_mcp_abd" type="revolute">
    <parent link="part_09_middle" />
    <child link="part_10_middle" />
    <origin xyz="-0.00379700735971 0.00120830997949 0.0160961877162" rpy="0 0 0" />
    <axis xyz="0.000324410208469 0.9994251421 -0.0339010338567" />
    <limit lower="-0.698" upper="0.698" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_2_r_middle_finger_pip" type="revolute">
    <parent link="part_10_middle" />
    <child link="part_11_middle" />
    <origin xyz="-0.00982051032284 -0.000198903011338 0.0417228132436" rpy="0 0 0" />
    <axis xyz="0.999938845746 -0.000698963590645 -0.011037038445" />
    <limit lower="-1.047" upper="2.094" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_2_r_middle_finger_dip" type="revolute">
    <parent link="part_11_middle" />
    <child link="part_12_middle" />
    <origin xyz="-0.00770492166287 -0.000156054224321 0.0327346540076" rpy="0 0 0" />
    <axis xyz="0.999938845746 -0.000698963590645 -0.011037038445" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_3_r_ring_finger_mcp_flex" type="revolute">
    <parent link="part_00_palm" />
    <child link="part_13_ring" />
    <origin xyz="0.0247823679792 0.00435554718094 0.0920559291162" rpy="0 0 0" />
    <axis xyz="0.987678304938 -0.0675668407617 -0.141160504336" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_3_r_ring_finger_mcp_abd" type="revolute">
    <parent link="part_13_ring" />
    <child link="part_14_ring" />
    <origin xyz="0.00703134253727 0.000656914085946 0.0118819625888" rpy="0 0 0" />
    <axis xyz="0.0658953462918 0.997690316619 -0.0164874334516" />
    <limit lower="-0.698" upper="0.698" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_3_r_ring_finger_pip" type="revolute">
    <parent link="part_14_ring" />
    <child link="part_15_ring" />
    <origin xyz="0.0180076050956 -0.00124648224091 0.0308235436111" rpy="0 0 0" />
    <axis xyz="0.987678304938 -0.0675668407617 -0.141160504336" />
    <limit lower="-1.047" upper="2.094" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_3_r_ring_finger_dip" type="revolute">
    <parent link="part_15_ring" />
    <child link="part_16_ring" />
    <origin xyz="0.0141283071894 -0.00097795814114 0.0241833653331" rpy="0 0 0" />
    <axis xyz="0.987678304938 -0.0675668407617 -0.141160504336" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_4_r_pinky_mcp_flex" type="revolute">
    <parent link="part_00_palm" />
    <child link="part_17_pinky" />
    <origin xyz="0.0368742711472 -0.0009911605755 0.076563011774" rpy="0 0 0" />
    <axis xyz="0.960244836025 -0.131409050527 -0.246295587307" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_4_r_pinky_mcp_abd" type="revolute">
    <parent link="part_17_pinky" />
    <child link="part_18_pinky" />
    <origin xyz="0.0136791126232 0.000464996599981 0.00771514137985" rpy="0 0 0" />
    <axis xyz="0.128185922818 0.991326007371 -0.0290020051298" />
    <limit lower="-0.698" upper="0.698" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_4_r_pinky_pip" type="revolute">
    <parent link="part_18_pinky" />
    <child link="part_19_pinky" />
    <origin xyz="0.0313398458049 -0.00180619803779 0.0182034041605" rpy="0 0 0" />
    <axis xyz="0.96024483603 -0.131409050488 -0.246295587309" />
    <limit lower="-1.047" upper="2.094" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <joint name="slot_4_r_pinky_dip" type="revolute">
    <parent link="part_19_pinky" />
    <child link="part_20_pinky" />
    <origin xyz="0.0256923388398 -0.00148875992665 0.0148244744296" rpy="0 0 0" />
    <axis xyz="0.96024483603 -0.131409050488 -0.246295587309" />
    <limit lower="-1.047" upper="1.57" effort="15" velocity="5" />
    <dynamics damping="0.2" friction="0.01" />
  </joint>
  <mujoco>
    <compiler strippath="false" discardvisual="false" balanceinertia="true" />
  </mujoco>
</robot>